/* 顶部导航栏CSS */
.topbar {
    height: 40px;
    background-color: #3d3d3d;
    margin-bottom: 20px;
}
.topbar .nav {
    width: 1225px;
    margin: 0 auto;
}
.topbar .nav ul {
    float: right;
}
.topbar .nav li {
    float: left;
    height: 40px;
    color: #b0b0b0;
    font-size: 14px;
    text-align: center;
    line-height: 40px;
    margin-left: 20px;
}
.topbar .nav .sep {
    color: #b0b0b0;
    font-size: 12px;
    margin: 0 5px;
}
.topbar .nav li .el-button {
    color: #b0b0b0;
}
.topbar .nav .el-button:hover {
    color: #fff;
}
.topbar .nav li a {
    color: #b0b0b0;
}
.topbar .nav a:hover {
    color: #fff;
}
.topbar .nav .shopCart {
    width: 120px;
    background: #424242;
}
.topbar .nav .shopCart:hover {
    background: #fff;
}
.topbar .nav .shopCart:hover a {
    color: #ff6700;
}
.topbar .nav .shopCart-full {
    width: 120px;
    background: #ff6700;
}
.topbar .nav .shopCart-full a {
    color: white;
}
/* 顶部导航栏CSS END */

/* 顶栏容器CSS */
.el-header .el-menu {
    max-width: 1225px;
    margin: 0 auto;
}
.el-header .logo {
    height: 60px;
    width: 189px;
    float: left;
    margin-right: 100px;
}
.el-header .so {
    margin-top: 10px;
    width: 300px;
    float: right;
}
/* 顶栏容器CSS END */

/* 底栏容器CSS */
.footer {
    width: 100%;
    text-align: center;
    background: #2f2f2f;
    padding-bottom: 20px;
}
.footer .ng-promise-box {
    border-bottom: 1px solid #3d3d3d;
    line-height: 145px;
}
.footer .ng-promise-box {
    margin: 0 auto;
    border-bottom: 1px solid #3d3d3d;
    line-height: 145px;
}
.footer .ng-promise-box .ng-promise p a {
    color: #fff;
    font-size: 20px;
    margin-right: 210px;
    padding-left: 44px;
    height: 40px;
    display: inline-block;
    line-height: 40px;
    text-decoration: none;
    background: url('./assets/imgs/us-icon.png') no-repeat left 0;
}
.footer .github {
    height: 50px;
    line-height: 50px;
    margin-top: 20px;
}
.footer .github .github-but {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    background: url('./assets/imgs/github.png') no-repeat;
}
.footer .mod_help {
    text-align: center;
    color: #888888;
}
.footer .mod_help p {
    margin: 20px 0 16px 0;
}

.footer .mod_help p a {
    color: #888888;
    text-decoration: none;
}
.footer .mod_help p a:hover {
    color: #fff;
}
.footer .mod_help p span {
    padding: 0 22px;
}
/* 底栏容器CSS END */
