/* 顶部导航栏CSS */
.topbar {
    height: 40px;
    background-color: #3d3d3d;
    margin-bottom: 20px;
}
.topbar .nav {
    width: 1225px;
    margin: 0 auto;
}
.topbar .nav ul {
    float: right;
}
.topbar .nav li {
    float: left;
    height: 40px;
    color: #b0b0b0;
    font-size: 14px;
    text-align: center;
    line-height: 40px;
    margin-left: 20px;
}
.topbar .nav .sep {
    color: #b0b0b0;
    font-size: 12px;
    margin: 0 5px;
}
.topbar .nav li .el-button {
    color: #b0b0b0;
}
.topbar .nav .el-button:hover {
    color: #fff;
}
.topbar .nav li a {
    color: #b0b0b0;
}
.topbar .nav a:hover {
    color: #fff;
}
.topbar .nav .shopCart {
    width: 120px;
    background: #424242;
}
.topbar .nav .shopCart:hover {
    background: #fff;
}
.topbar .nav .shopCart:hover a {
    color: #ff6700;
}
.topbar .nav .shopCart-full {
    width: 120px;
    background: #ff6700;
}
.topbar .nav .shopCart-full a {
    color: white;
}
/* 顶部导航栏CSS END */
